@import "../../../../colors.scss";

.role_left {
  flex: 1 1;

  .top_role_content {
    padding-bottom: 20px;
    border-bottom : 1px solid #ddd;
  }
}

.role_inner_list {
  padding      : 20px 0px;
  border-bottom: 1px solid #ddd;

  .role_name {
    flex: 1;
  }

  .role_edit {
    flex      : 1;
    text-align: center;
  }

  .role_set_permission {
    flex      : 1;
    text-align: right;
  }

  h3 {
    font-size  : 16px;
    font-weight: bold;
  }

  p {
    color    : #888888;
    font-size: 14px;
    cursor   : pointer;

    &.clr_blu {
      color: #47E5EB;
    }
  }
}

.add_more_role {
  padding      : 10px 10px;
  border-bottom: 1px solid #ddd;
  cursor       : pointer;

  .clr_blu {
    font-size: 14px;
    color    : #47E5EB;
  }
}

.role_popup {
  flex       : 1 1;
  padding    : 20px 40px;
  max-width  : 450px;
  border-left: 1px solid #ddd;
  margin-left: 30px;
}

.role_title h4 {
  font-size     : 18px;
  text-transform: uppercase;
  font-weight   : bold;
}

.role_save_btn {
  padding         : 10px 20px;
  background-color: #47E5EB;
  color           : #fff;
  font-size       : 14px;
  border-radius   : 23px;
  border          : none;
  cursor          : pointer;
}

.role_popup_title {
  h5 {
    color    : #BBC5D5;
    font-size: 16px;
  }
}

.role_popup_title {
  padding      : 0 0 10px 0;
  border-bottom: 1px solid #ddd;
  margin-bottom: 10px;
}

.role_switch_title h3 {
  font-size  : 14px;
  color      : #444444;
  font-weight: 600;
}

.header_role_list {
  padding: 15px 0;
}

.header_role_popup {
  margin-bottom: 30px;
}

.header_role_group {
  margin-bottom: 15px;
}

.addRole {



  .user-body {
    padding: 20px 30px;

    .userList {
      border-bottom: 1px solid #f5f5f5;
      padding      : 15px 0;

      .userNameLabel {
        font-size    : 14px;
        margin-bottom: 10px;

        span {
          color: #BABABA;
        }
      }

      .userNameOutput input,
      .userNameOutput textarea {
        width        : 100%;
        overflow     : visible;
        border       : 1px solid #cccccc;
        padding      : 5px;
        border-radius: 4px;
        font-size: 14px;
      }

    }

  }

  .user-footer {
    padding: 10px 30px;
  }
}