header {
  background: #ffffff;
  min-height: 94px;
  color     : #353535;
  padding   : 16px 27px 16px 12px;

&.fixed-header{
  position: fixed;
  width: 100%;
  z-index: 99
}
  .logo_outer {
    width: 236px;
  }

  .menuCollapse {
    width     : 80px;
    text-align: center;

    .menuCollapse-icon {
      cursor: pointer;
    }
  }

  .logo {
    font-size: 20px;
    color    : #fff;
  }

  .custom-search {
    input {
      border             : none;
      width              : 355px;
      height             : 40px;
      border-radius      : 35px;
      padding            : 10px 15px 10px 45px;
      background         : #f5f5f5 url(../../assets/images/searchIcon.png) no-repeat;
      background-position: 18px center;
      color              : #6f88a7;
      line-height        : 40px;

      &::placeholder {
        font-size: 14px;
        color    : #6f88a7;
      }

      &:focus {
        outline: none;
      }
    }
  }

  .notification-box {
    position: relative;
    margin  : 0 33px 0 29px;

    img {
      cursor: pointer;
    }

    span {
      position     : absolute;
      top          : 6px;
      right        : 0;
      width        : 8px;
      height       : 8px;
      background   : #ff9a00;
      border-radius: 50%;
      border       : 1px solid #131921;
    }
  }

  .user-image {
    cursor: pointer;

    img {
      height         : 48px;
      width          : 48px;
      border-radius  : 50%;
      object-fit     : cover;
      object-position: top;
    }
    .logout_btn {
      padding: 10px 20px;
      background-color: #47E5EB;
      color: #fff;
      font-size: 14px;
      border-radius: 23px;
      border: none;
      cursor: pointer;
  }
  }
}

.header-dropdown {
  cursor: pointer;

  .dropdown-menu {
    right        : 0;
    left         : auto;
    font-size    : 14px;
    padding      : 25px;
    width        : 234px;
    border       : none;
    border-radius: 15px;

    .user-detail {
      display    : flex;
      align-items: center;

      img {
        min-width    : 48px;
        height       : 48px;
        border-radius: 50%;
        margin-right : 14px;
        object-fit   : cover;
      }

      .info {
        display       : flex;
        flex-direction: column;
        max-width     : calc(100% - 62px);

        span:first-child {
          color         : #333;
          font-family   : "HelveticaNeueBold";
          font-size     : 14px;
          text-transform: capitalize;
        }

        span:last-child {
          font-size    : 12px;
          color        : #888888;
          max-width    : 100%;
          text-overflow: ellipsis;
          overflow     : hidden;
          white-space  : nowrap;
        }
      }
    }

    .user-actions {
      border-top    : 1px solid #f0f0f0;
      border-bottom : 1px solid #f0f0f0;
      margin-top    : 19px;
      margin-bottom : 25px;
      padding-top   : 20px;
      padding-bottom: 25px;

      ul {
        margin-bottom       : 0;
        padding-inline-start: 0;

        li {
          list-style-type: none;
          margin-bottom  : 20px;
          font-size      : 16px;

          a {
            color          : #888888;
            display        : flex;
            align-items    : center;
            text-decoration: none;

            img {
              margin-right: 23px;
            }

            &:hover {
              color: #333333;
            }
          }

          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }

    .signout {
      color    : #ff8383;
      font-size: 16px;

      img {
        margin-right: 23px;
      }
    }
  }
}

.session_btn_logout {
  padding: 8px 20px;
  border-radius: 5px;
  color: #f44336;
  font-size: 14px;
  background: none;
  margin-top: 25px;
  border: none;
}
.session_btn_logout:hover {
  background-color: #f44336 !important;
  color: #fff;
}
.session_btn_continue {
  padding: 8px 20px;
  border-radius: 5px;
  border: 1px solid #001374 !important;
  font-size: 14px;
  color: #001374;
  background: none;
    margin-top: 25px;
}
.session_btn_continue:hover {
  background-color: #001374 !important;
  color: #fff;
}
.session_title {
  padding: 15px 20px 10px 20px;
  font-weight: 800;
  font-size: 25px;
}
@media only screen and (max-width: 856px) {
  .custom-search {
    display: none;
  }
}

@media only screen and (max-width: 500px) {
  header {
    .logo_outer {
      width: 180px;

      .logo {
        max-width: 100%;
      }
    }
  }
}