@import "~bootstrap/scss/bootstrap";

body {
  font-family: "Lato", sans-serif;
}

.body-outer {
  padding-top: 94px;
}

.table-header {
  margin-bottom: 10px;
  position: relative;

  .primary.mini {
    padding: 6px 15px;
  }

  .__loader {
    width: 10px;
    height: 10px;
    display: inline-block;
    margin-bottom: -3px;
    margin-right: 10px;
    border-color: #f5f5f5 rgba(0, 19, 116, 0.25) rgba(0, 19, 116, 0.25);
  }
}

.heading_h4 {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 0px;
}

.heading_h3 {
  font-size: 30px;
  font-weight: 800;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

#root {
  background-color: #f7f8fa;
}

.page-wrapper {
  padding: 43px 55px;
  background: #f7f8fa;
  width: calc(100% - 246px);
  min-height: calc(100vh - 94px);
  transition: 0.4s;
}

@media only screen and (min-width: 1400px) {
  .page-wrapper {
    padding: 43px 108px;
  }
}

.shadow_white_box {
  border-radius: 12px;
  background: #fff;
  padding: 25px;
  box-shadow: 0 3px 20px #0000000d;
}

.shadow_white_box::-webkit-scrollbar {
  background-color: #fff;
  border-radius: 25px;
  width: 6px;
}

.shadow_white_box::-webkit-scrollbar-thumb {
  background-color: #c9c9c9;
  border-radius: 25px;
  width: 6px;
}

// .ag-header {
//   height    : 36px !important;
//   min-height: 36px !important;
//   border    : none !important;
// }

.ag-header-row {
  height: 36px !important;
}

.ag-header-group-text {
  color: #888;
}

.ag-header-cell-label {
  cursor: pointer;
  color: #888;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.5px;
}

.ag-theme-alpine .ag-root-wrapper {
  border-radius: 8px;
  overflow: hidden;
}

.page-wrapper.full_wrapper {
  width: calc(100% - 70px);
}

.page-wrapper.full_mobile_wrapper {
  width: calc(100% - 70px);
}

.ag-overlay-loading-center {
  background-image: url("../src/app/assets/images/loader.gif");
}

.page-wrapper.short_mobile_wrapper.MouseEnter {
  width: calc(100% - 246px);
}

.page-wrapper.full_mobile_wrapper.MouseEnter {
  width: calc(100% - 246px);
}

// .ag-theme-alpine .ag-row-hover {
//   background-color: transparent !important;
// }

// .ag-theme-alpine .ag-ltr .ag-has-focus .ag-cell-focus:not(.ag-cell-range-selected) {
//   border: 1px solid transparent !important;
// }

// .ag-cell.ag-cell-not-inline-editing.ag-cell-auto-height.ag-cell-value.ag-cell-focus {
//   border: 1px solid transparent !important;
// }
.ag-theme-alpine .ag-row {
  font-size: 12px !important;
}

.filter-list {
  .picker-input__text {
    padding: 6px 6px;
    font-size: 12px;
    color: #636363;
  }
}

#loading_all {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  position: absolute;
  background-color: #00000021;
}

#loading_all img {
  animation: spin 0.9s linear infinite;
  margin: auto;
}

.agDropDown {
  .roleSelect {
    border: 1px solid #ddd;
    padding: 7px 10px;
    border-radius: 5px;
    margin-right: 10px;
  }

  button {
    padding: 10px 11px;
    line-height: 11px;
    background-color: #001374 !important;
    color: #fff;
    border-radius: 5px;
    border: none;
  }
}
